services:
  postgres:
    image: postgres:18.1
    restart: unless-stopped
    environment:
      POSTGRES_DB: api_starter_kit
      POSTGRES_USER: api
      POSTGRES_PASSWORD: api
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data:
